#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

//Primary

$greyish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);

//Neutral

$white: hsl(0, 0%, 100%);
$dark-desaturated-blue: hsl(236, 21%, 26%);
$very-dark-blue: hsl(235, 16%, 14%);
$mostly-black-blue: hsl(234, 17%, 12%);

$body-font-size: 14px;
$weight: 700;
